#accordionExample {
	width: 100%;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}
#navHorizontal {
	width: 100%;
	background-color: black;
	font-size: 100%;
}
h4 {
	text-align: center;
}
#preg {
	text-decoration: none;
	color: black;
}
#preg:hover {
	color: red;
	color: black;
}
#bottonNavHorizontal {
	color: white;
	font-weight: bold;
}
#bottonNavHorizontal:hover {
	color: #c3abbe;
}
