.section-pagetop {
  padding: 45px 0;
}
.bg {
  background-color: #f8f9fa;
}
.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.title-page {
  margin-left: 25px;
  color: #212529;
}
h2,
.h2 {
  font-size: 2rem;
}
.padding-y {
  padding-top: 40px;
  padding-bottom: 40px;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

/* tab panel css */

.list-group-item {
  background-color: #4ebacb;
}
a {
  color: black;
}
.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #2983c5d9;
  border-color: #007bff;
}

.bg {
  margin-top: 40px;
  background-color: #e6dce4;
}

/* mi perfil */
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e6dce4;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.stats {
  background-color: #f8f9fa;
}
.btn-link {
  font-weight: 400;
  color: #955c89;
  text-decoration: none;
}

.cardigreen {
  background-color: #4ebacb;
}
.text-muted {
  color: #212529 !important;
}

.small {
  font-size: 80%;
  font-weight: 400;
}
#text-uppercase {
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase !important;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e600;
}

.img-sm {
  width: 80px;
  height: 80px;
  object-fit: cover;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.bordero {
  border: 1px solid #e4e4e4 !important;
}
.icontext .text {
  width: 100%;
  line-height: 1.5;
  color: #212529;
}
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}
.icontext .icon {
  position: relative;
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.border-top {
  border-top: 1px solid #44a3b2 !important;
}

.list-group {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
/* Micarrito y guardados de usuario */
.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
figure {
  margin-bottom: 0;
}
figure {
  margin: 0 0 1rem;
}
.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}
.form-group {
  margin-bottom: 1rem;
}
.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dlist-align dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* css USUARIO */

.card-account {
  background-color: #d5e8cb;
}

.fa-user:hover {
  color: #d5e8cb;
}

.fa-shopping-cart:hover {
  color: #e6dce4;
}
.list-group-item {
  background-color: #d5e8cb;
}

@media (max-width: 992px) {
  .table-shopping-cart .itemside .aside {
    display: none;
  }

  .table-shopping-cart .itemside .info {
    padding: 0;
  }
  .mx-5 {
    margin: 0 !important;
    padding: 0;
  }
}
