/* Body fondo de pantalla */

body {
	/*
	background-image: url(https://images3.alphacoders.com/100/1008404.jpg);


  background-position: center center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  background-size: cover; */

	background-color: white;
}
#aa:hover {
	color: purple;
	font-weight: bold;
	transform: scale(1.1);
}
#linkedin {
	color: #0e76a8;
}
#twitter {
	color: #00acee;
}
#facebook {
	color: #3b5998;
}
#instagram {
	color: #c13584;
}

#aa {
	transition: transform 0.2s;
	color: white;
	text-decoration: none;
	position: absolute;
	position: fixed;
	bottom: 10px;
	right: 25px;
	background-color: black;
	padding: 1%;
	border-radius: 50%;
	z-index: 100;
}

/* Barra navegaciòn */

nav.navbar {
	background-color: #ffffff;
	height: 20vh;
}
#dos {
	margin: 1%;
	font-weight: bold;
}
#dos:hover {
	background-color: #fff;
	color: #955c8a;
}
.dropdown-menu {
	background-color: #c3abbe;
}

/* tarjetas */

.card-product {
	background: rgb(0, 0, 0);
}
.card-product .img-wrap {
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	position: relative;
	height: 200px;
	text-align: center;
	background-color: white;
}
.card-product .img-wrap img {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
}
.card-product .info-wrap {
	overflow: hidden;
	padding: 20px;
	border-top: 1px solid;
}
.card-product .bottom-wrap {
	padding: 20px;
	border-top: 1px solid rgb(27, 46, 212);
}

.label-rating {
	margin-right: 10px;
	color: rgba(255, 255, 255, 0.986);
	display: inline-block;
	vertical-align: middle;
}
.title,
.desc,
.price-new {
	color: cornsilk;
}
.card-product .price-old {
	color: #999;
}

.tarjetas {
	max-width: 100%;
	max-height: 20%;
	text-align: center;
}

.bg-secondary {
	background-color: #000000 !important;
}

/* Footer */

.page-footer {
	background-color: rgba(182, 153, 175, 0.815);
}

#seguinos {
	text-align: right;
}
.page-footer a {
	color: black;
	/* text-decoration: none; */
}

/* article {
       max-width: 65%;
/* } */ /* comente este estilo porque me estaba rompiendo el footer en myaccount.html */

#carouselExampleCaptions .carousel-inner img {
	max-width: 100%;
	height: 79vh;
	margin-bottom: 1%;
}

#carouselExampleCaptions {
	z-index: 200;
}

#carouselExampleCaptions h5 {
	text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000,
		1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	color: white;
}
#carouselExampleCaptions h5 {
	font-size: 22px;
}

#carouselExampleCaptions p {
	text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000,
		1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	color: white;
}

/* CSS menu nuevo */

.widget-header {
	display: inline-flex;
	vertical-align: middle;
	position: relative;
}

.widget-header a {
	color: #955c8a;
}
.icon-sm {
	text-align: center;
	width: 48px;
	height: 48px;
	line-height: 48px !important;
	font-size: 20px;
}
.widget-header .notify {
	position: absolute;
	top: -3px;
	right: -10px;
}

.notify {
	position: absolute;
	top: -4px;
	right: -10px;
	display: inline-block;
	padding: 0.25em 0.6em;
	font-size: 12px;
	line-height: 1;
	text-align: center;
	border-radius: 3rem;
	color: #fff;
	background-color: #fa3434;
}

.badge-danger {
	color: #fff;
	background-color: #fa3434;
}
.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}
.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.37rem;
	-webkit-transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
		-webkit-box-shadow 0.15s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: #28a745 !important;
}
.nav-link:hover {
	border-radius: 3px;
	background-color: #be97b7;
	color: black;
}

.w-ico {
	color: black;
}
.rounded-circle {
	border-radius: 50% !important;
	color: #c3abbe;
}

.fa-user:hover {
	color: #d5e8cb;
}

.fa-shopping-cart:hover {
	color: #e6dce4;
}

/* .card-account {
	background-color: #d5e8cb;
}

.card-account:hover {
	background-color: #7d28a7;
} */
