#body{
    background-image: url(pared.jpg);
    background-size: cover;
}
#Todo2{
    background-color: rgba(255, 255, 255, 0.212);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    padding-top: 1%;
    margin-bottom: 6%;
    color: white;
}
    #Todo{
    width: 70%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 10%; 
    padding-bottom: 1%;
    margin-left: 15%;
}
@media (max-width: 375px) { 
    #Todo{margin-left: 0% ;
        width: auto;
    }}
h1{
    text-align: center;
    font-family: 'Tomorrow', sans-serif;
    font-size: 30px;
}
#hola{
    background-color: black;
    color: #000;
    color: white;
}
/* footer{
    
    background-color: rgba(128, 128, 128, 0.904);
} */
img{
    width: 30px;
}
#Redes{
    font-size: 20px;
    text-align: center;
    
}
#Copy{
    text-align: left;
   padding-left: 5%;
}